:root {
    --titel-color:#2E2F42;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}

.header-logo-link {
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            /* identical to box height, or 117% */
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        
            /* IRIS */
            color: #4D5AE5;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.header-logo-color {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        /* identical to box height, or 117% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        /* NAVY BLUE */
        color: #2E2F42;
}

.header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        /* identical to box height, or 150% */
        letter-spacing: 0.02em;
    
        /* NAVY BLUE */
        color: #2E2F42;
}
.header-link:hover {
    color: #404bbf;
}
.header-link:focus {
    color: #404bbf;
}
.header-address-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        /* identical to box height, or 150% */
        letter-spacing: 0.02em;
    
        /* SLATE */
        color: #434455;
}
.header-address-link:hover {
    color: #404bbf;
}
.header-address-link:focus {
    color: #404bbf;
}


.main-section { background-color: #2E2F42;}
.main-section-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        /* or 107% */
        text-align: center;
        letter-spacing: 0.02em;
    
        /* WHITE */
        color: #FFFFFF;
}

.main-section-button {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        /* identical to box height, or 150% */
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
    
        /* WHITE */
        color: #FFFFFF;
        cursor: pointer;
        background-color: #4D5AE5
}
.main-section-button :hover {
    color: #404bbf;
    background-color: #404BBF;
}
.main-section-button :focus {
    color: #404bbf;
    background-color:  #404BBF;
}
.main-content-titel {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        /* identical to box height, or 120% */
        letter-spacing: 0.02em;
    
        /* NAVY BLUE */
        color: var(--titel-color);
}
.main-content-name {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       /* identical to box height, or 120% */
       letter-spacing: 0.02em;

/* NAVY BLUE */
color: var(--titel-color);

}

.main-content-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        /* or 150% */
        letter-spacing: 0.02em;
    
        /* SLATE */
        color: #434455;
}

.main-pictures-text {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        /* identical to box height, or 111% */
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    
        /* NAVY BLUE */
        color: var(--titel-color);
}

.main-content-team {
    background-color: #F4F4FD
}

.main-team-list {
    background-color: #FFFFFF;
}

.main-team-titel {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        /* identical to box height, or 111% */
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    
        /* NAVY BLUE */
        color: var(--titel-color);
        
}

.main-team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        /* identical to box height, or 120% */
        text-align: center;
        letter-spacing: 0.02em;
    
        /* NAVY BLUE */
        color: var(--titel-color);
       
}

.main-team-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        /* identical to box height, or 150% */
        text-align: center;
        letter-spacing: 0.02em;
    
        /* SLATE */
        color: #434455;
        
}

.footer { background-color: #2E2F42;}
.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        /* or 150% */
        letter-spacing: 0.02em;
    
        /* CLOUD */
        color: #F4F4FD;
}

.footer-logo-link {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        /* identical to box height, or 117% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        /* IRIS */
        color: #4D5AE5;
}

.footer-logo-color {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        /* identical to box height, or 117% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        /* CLOUD */
        color: #F4F4FD;
}
